"*":
  "atom-beautify":
    general:
      _analyticsUserId: "56d93d4b-b6e4-4180-a681-65166cd9340e"
    js:
      eval_code: true
  "atom-clock":
    dateFormat: " D.MM.YYYY H:mm "
    showClockIcon: true
  "atom-package-deps":
    ignored: []
  "battery-status":
    onlyShowWhileInFullscreen: true
  core:
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    restorePreviousWindowsOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
  "editor-background":
    other:
      treeViewOpacity: 10
  "exception-reporting":
    userId: "49c54006-ee4d-0e57-d832-96f21dc000b9"
  "file-icons": {}
  "git-blame":
    columnWidth: 300
  "global-background":
    imageSource:
      source: "Random Image from Internet"
  "highlight-line": {}
  "highlight-selected": {}
  linter: {}
  "linter-ui-default": {}
  "one-dark-ui": {}
  pigments: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  tabs: {}
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
